.typography {
  font-family: inherit;

  &__h1 {
    color: var(--color-neutral-01, #41414b);
    line-height: var(--typography-h1-line-height, 21.78px);
    font-size: var(--typography-h1-font-size, 24px);
    font-weight: var(--typography-h1-font-weight, 700);
  }

  &__h2 {
    color: var(--color-neutral-02, #52525d);
    line-height: var(--typography-h2-line-height, 19.36px);
    font-size: var(--typography-h2-font-size, 18px);
    font-weight: var(--typography-h2-font-weight, 400);
  }

  &__text {
    color: var(--color-neutral-03, #787885);
    line-height: var(--typography-text-line-height, 16.94px);
    font-size: var(--typography-text-font-size, 16px);
    font-weight: var(--typography-text-font-weight, 300);
  }
}
